import os
from functools import lru_cache

from langchain_gigachat.chat_models import GigaChat

# Application settings
LOG_FILE = "app.log"

@lru_cache()
def __read_doc(path):
    with open(path, mode="r") as f:
        return f.read()

base_dir = os.path.dirname(os.path.abspath(__file__))
tools_dir = base_dir + "/services/"

# MCP Tools
{%- for server_name in servers %}
{{ server_name }}_mcp_tool = tools_dir + "{{ server_name }}_mcp.py"
{%- endfor %}
############

# Agents settings
{%- for agent in agents %}
{{ agent|upper }}_PROMPT_PATH = "prompts/{{ agent }}_prompt.txt"
{%- endfor %}


{%- for agent in agents %}
{{ agent }}_prompt = __read_doc({{ agent|upper }}_PROMPT_PATH)
{%- endfor %}

# Model settings
llm = GigaChat(
    model="GigaChat-2-Max",
    verify_ssl_certs=False,
    profanity_check=False,
    streaming=False,
    max_tokens=8192,
    temperature=0.3,
    repetition_penalty=1.01,
    timeout=180
)